<ion-content >
  <div class="login-header">
        <div class="pro-img-box">
            <img alt="" src="assets/imgs/applogo.png" class="">
        </div>
  </div>

  <div class="Login_form Login_form-nu">
    <form [formGroup]="authLogin" (ngSubmit)="onLogin()">
  <div margin-top="5px">
    <ion-item class="login_input" [ngClass]="{'error-border':!authLogin.controls.email.valid && authLogin.controls.email.touched}">
      <ion-label> <ion-icon  name="ios-call-outline" icon-left></ion-icon> </ion-label>
        <ion-input formControlName="email" [(ngModel)]="email" placeholder="Enter Your Phone Number" type="text"></ion-input>
    </ion-item>

    <div class="alert alert-warning alert-dismissible fade show error " *ngIf="authLogin.controls.email.hasError('required') && authLogin.controls.email.touched" style="font-size: 13px"  role="alert">
      <strong  class ="error"> </strong>Please Enter Your Phone Number
   </div>

  <div class="alert alert-warning alert-dismissible fade show  error" *ngIf="authLogin.controls.email.hasError('minlength') && authLogin.controls.email.touched" style="font-size: 13px"  role="alert">
      <strong class ="error"> </strong> Phone Number should be of min 10 characters
  </div>
  </div>
        <ion-item class="login_input" [ngClass]="{'error-border':!authLogin.controls.password.valid && authLogin.controls.password.touched}">>
      <ion-label> <ion-icon name="ios-unlock-outline" icon-left></ion-icon> </ion-label>
      <ion-input   formControlName="password" [(ngModel)]="password"type="password" placeholder="Enter Your Password"></ion-input>
    </ion-item>

     <div class="alert alert-warning alert-dismissible fade show error " *ngIf="authLogin.controls.password.hasError('required') && authLogin.controls.password.touched" style="font-size: 13px"  role="alert">
        <strong  class ="error"> </strong>Please Enter Your Password
     </div>

    <div class="alert alert-warning alert-dismissible fade show  error" *ngIf="authLogin.controls.password.hasError('minlength') && authLogin.controls.password.touched" style="font-size: 13px"  role="alert">
        <strong class ="error"> </strong> Password should be of min 6 characters
    </div>

  <div text-end class="login_forgot_text" (click)="forgotPasswordPage()">Forgot Password?</div>
  <div text-center>
 
    <button ion-button  class="Login_Button1"  [disabled]="authLogin.invalid" type="submit" >Log In </button>

  </div>
    </form>
    <div class="login-bottom"  (click)="selectaccount()">
      <p>Not a member?</p>
      <a  class="sign-up" >Sign Up Now</a>
    </div>
    <div class="soacial-login">
      <!-- <ion-grid>
        <ion-row>
            <ion-col col-6> <button ion-button  class="face-book"(click)="loginWithFB()" >Facebook</button></ion-col>
            <ion-col col-6><button ion-button  class="google" (click)="doGoogleLogin()">Google</button></ion-col>
        </ion-row>
        </ion-grid> -->
  </div>
  
  </div>
  <button ion-button  class="Login_Button1"  (click)="EnterApp()">Skip </button>
</ion-content>
