<!--
  Generated template for the SelectAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>SelectAccount</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding style="background-color: #ffffff;">

    <div class="cross-bar cross-bar-select"><ion-icon name="md-close"  (click)="close()"></ion-icon></div>
<div class="login-part-outer-s">
  <div class="Login-wrapper signup-wrapper">
    <div class="LogoArea"  >
      <img src="assets/imgs/gemlogo1.png" >
    </div>
    <div class="SignUpRefer-1">
        <div class="textpara1 textpara"><em>Select</em> an Account</div>
    </div>
    <div class="InputArea-selection">
  <!--   <div class="merge-two-selection">
      <div class="left-part tutor-selection"  (click)="Tutor()">        
        <div class="inner-selection">TUTOR</div>
      </div>
      <div class="right-part tutor-selection"  (click)="Tutee()">        
        <div class="inner-selection">TUTEE</div>
      </div>
    </div> -->
    <div class="merge-two-selection ">
        <div class="left-part tutor-selection" *ngIf="color ==''" (click)="Vendor()">        
          <div class="inner-selection inner-selection1">Partner</div>
        </div>
        <div class="left-part tutor-selection" *ngIf="color !=''" (click)="Vendor()">        
            <div class="inner-selection inner-selection1 active ">Partner</div>
          </div>
        <div class="right-part tutor-selection"  *ngIf="colors ==''" (click)="User()">        
          <div class="inner-selection inner-selection1">User</div>
        </div>
        <div class="right-part tutor-selection"  *ngIf="colors !=''" (click)="User()">        
            <div class="inner-selection inner-selection1 active ">User</div>
          </div>
      </div>
      <div class="LoginButton">
        <div class="signup-select-btn-outer">
          <div class="btn btn-green1" (click)="Next()">NEXT </div>
        </div>
      </div>
    </div>
  </div>
</div>

</ion-content>
