<ion-tabs [selectedIndex]="myIndex" #mainTabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="ios-home-outline" tabsHideOnSubPages="true" (tap)="setSelectedIndex(0)"></ion-tab>
  <!-- <ion-tab [root]="tab2Root" tabTitle="Chats" tabIcon="ios-chatboxes-outline" tabsHideOnSubPages="true" (tap)="setSelectedIndex(1)"></ion-tab> -->
  <ion-tab [root]="tab3Root" tabTitle="Send Query" tabIcon="ios-create-outline" tabsHideOnSubPages="true" (tap)="setSelectedIndex(2)"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="ios-contact-outline" tabsHideOnSubPages="true" (tap)="setSelectedIndex(3)"></ion-tab>
</ion-tabs>
