<ion-content >
    <div class="login-header">
      <div class="cross-bar"><ion-icon name="md-close"  (click)="close()"></ion-icon></div>
        <div class="pro-img-box">
          <img alt="" src="assets/imgs/gemlogo1.png" class="">           
        </div>
    </div>   

  <div class="Login_form Login_form-nu">
    <div class="forgetPass" text-center>{{lang.string.forget_pass_heading}}</div>
    <form [formGroup]="authForget" (ngSubmit)="forgotpassword()">
      <div margin-top="5px">
        <ion-item class="login_input" [ngClass]="{'error-border':!authForget.controls.email.valid && authForget.controls.email.touched}">
          <ion-label> <ion-icon name="ios-mail-outline" icon-left></ion-icon> </ion-label>
          <ion-input formControlName="email" [(ngModel)]="credential.user_email" placeholder="Please enter email or phone number" type="text"></ion-input>
        </ion-item>

        <div class="alert alert-warning alert-dismissible fade show" *ngIf="authForget.controls.email.hasError('required') && authForget.controls.email.touched" style="font-size: 13px"  role="alert">
          <strong style=" font-size: 13px;margin-top: 5px;padding-left: 40px !important;"></strong>{{lang.error.email_error}}
        </div>

        <div class="alert alert-warning alert-dismissible fade show"  *ngIf="authForget.controls.email.hasError('pattern') && authForget.controls.email.touched" style="font-size: 13px" role="alert">
          <strong style="  font-size: 13px;margin-top: 5px;padding-left: 40px !important; "> </strong>{{lang.error.email__formate_error}}
        </div>
        <div text-center>
        <button ion-button  class="Login_Button1"  [disabled]="!authForget.valid"  type="submit">{{lang.button.Button}}</button>
      </div>
      </div>
    </form>
    <div text-center margin-top="10px">
      {{lang.string.already_account}}
      <a href="#" style="color: #13364f" (click)="SignIn()">{{lang.string.sign_in}}</a>
    </div>
  </div>
</ion-content>

