<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="login-header edit-profiles">
    <div class="pro-img-box">
      <!--  <img alt="" src="assets/imgs/gemlogo.png" class="">-->
      <div class="LogoDiv logo">
        <div class="LogoDivTutor WelcomeLg profile-image" >
          <img class="notHome" *ngIf="imageURI !='assets'"  src="{{imageURI}}"  >
          <img class="notHome" *ngIf="imageURI =='assets'"  src="assets/imgs/user-male-icon.png"  >
          <a href="javascript:void(0);" class="update-btn"> <ion-icon ios="ios-camera-outline" md="ios-camera-outline" class="camera_font1"></ion-icon></a>
        </div>
      </div>

      <div class="sign_in" text-center> <span class="craete" >Edit</span> Your  Account</div>

    </div>
  </div>

  <form  (ngSubmit)="Update(authForm)"  [formGroup]="authForm" class="form-css Login_form">
    <div class="signUp_form edit-profile-input">
      <!-- <div class="sign_in" text-center> <span class="craete" >Edit</span> {{UserType}}  Account</div> -->
      <div margin-top="5px">
        <ion-item class="login_input">
          <ion-label> <ion-icon name="ios-person-outline" icon-left></ion-icon> </ion-label>
          <ion-input placeholder="{{lang.placeholder.Name}}"  formControlName="name" [(ngModel)]="signup.fullname" type="text"></ion-input>
        </ion-item>
        <div class="error" *ngIf="authForm.get('name').hasError('required') && authForm.get('name').touched">
            {{lang.error.enter_full_name}}
          </div>

          <div class="error" *ngIf="authForm.get('name').hasError('maxlength') && authForm.get('name').touched">
            {{lang.error.full_name_length}}
          </div>

        <ion-item class="login_input">
          <ion-label> <ion-icon name="ios-mail-outline" icon-left></ion-icon> </ion-label>
          <ion-input placeholder="{{lang.placeholder.Email}}" [ngModelOptions]="{standalone: true}" [disabled]="true" [(ngModel)]="email"  type="text" readonly></ion-input>
        </ion-item>

        <ion-item class="login_input">
          <ion-label> <ion-icon name="ios-call-outline" icon-left></ion-icon> </ion-label>
          <ion-input placeholder="{{lang.placeholder.Phone_Number}}"  formControlName="mob"  [(ngModel)]="signup.contactnumber" type="number"></ion-input>
        </ion-item>

          <div class="error" *ngIf="authForm.get('mob').hasError('required') && authForm.get('mob').touched">
            {{lang.error.enter_Mobile}}
          </div>
          <div class="error" *ngIf="authForm.get('mob').hasError('minlength') && authForm.get('mob').touched">
            {{lang.error.enter_Mobile_Min}}
          </div>

          <div class="error" *ngIf="authForm.get('mob').hasError('maxlength') && authForm.get('mob').touched">
            {{lang.error.enter_Mobile_Max}}
          </div>

        <ion-item class="login_input">
          <ion-label> <ion-icon name="ios-person-outline" icon-left></ion-icon> </ion-label>
          <ion-input placeholder="{{lang.placeholder.Age}}"  formControlName="age" [(ngModel)]="signup.age" type="number"></ion-input>
        </ion-item>

          <div class="error" *ngIf="authForm.get('age').hasError('required') && authForm.get('age').touched">
            {{lang.error.Age}}
          </div>
          <ion-item class="login_input">
            <ion-label><ion-icon name="ios-pin-outline" icon-left></ion-icon></ion-label>
            <ion-input placeholder="{{lang.placeholder.Age}}"  formControlName="address2" [(ngModel)]="signup.address2" type="text"></ion-input>
          </ion-item>
    
            <div class="error" *ngIf="authForm.get('age').hasError('required') && authForm.get('age').touched">
            Please Select Address
            </div>
        <!-- <ion-item >
          <ion-label> <ion-icon  name="ios-pin-outline" icon-left></ion-icon> </ion-label>
          <ion-select name="subject"  [(ngModel)]="signup.address" formControlName="address1"  (ionChange)="onContextChangeGroup($event)" >
            <ion-option *ngFor="let GetLevel of city" value="{{GetLevel.state}}">{{ GetLevel.state}}</ion-option>
          </ion-select>
        </ion-item> -->
        <ion-item >
          <ion-label>State</ion-label>
          <ionic-selectable
            item-content 
            [(ngModel)]="signup.address"
            formControlName="address1" 
            [items]="city"
            itemValueField="state"
            itemTextField="state"
            [canSearch]="true"
            (onChange)="portChange($event)">
          </ionic-selectable>
  </ion-item>
        <div class="error" *ngIf="authForm.get('address1').hasError('required') && authForm.get('address1').touched">
         Please Select State
        </div>
        <!-- <ion-item >
          <ion-label>City</ion-label>
          <ionic-selectable
            item-content 
            [(ngModel)]="signup.city1"
            formControlName="city" 
            [items]="CityData"
            itemValueField="Name"
            itemTextField="Name"
            [canSearch]="true"
            >
          </ionic-selectable>
  </ion-item>
      <div class="error" *ngIf="authForm.get('city').hasError('required') && authForm.get('city').touched">
        {{lang.error.enter_address}}
      </div> -->

      <ion-list class="login_input">
        <ion-item>
          <ion-label>City</ion-label>
          <!-- <ion-label><ion-icon name="ios-pin-outline" icon-left></ion-icon></ion-label> -->
          <ion-select [(ngModel)]="signup.city1" formControlName="city" placeholder="Gender">
            <!-- <ion-option value="Male">Male</ion-option> -->
            <ion-option *ngFor="let city of CityData" value="{{ city.Name}}">{{city.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div class="error" *ngIf="authForm.get('city').hasError('required') && authForm.get('city').touched">
    Please Select City
      </div>
     
        <ion-list class="login_input">
          <ion-item>
            <ion-label><ion-icon name="ios-person-outline" icon-left></ion-icon></ion-label>
            <ion-select [(ngModel)]="signup.gender" formControlName="gender" placeholder="Gender">
              <ion-option value="Male">Male</ion-option>
              <ion-option value="Female">Female</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div class="error" *ngIf="authForm.get('gender').hasError('required') && authForm.get('gender').touched">
          {{lang.error.Gender}}
        </div>

      </div>
      <div text-center>
        <button ion-button  class="Login_Button"  [disabled]="authForm.invalid">{{lang.button.Update}}</button>
      </div>
    </div>
  </form>
</ion-content>
