<!--
  Generated template for the AddsubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar>
    <ion-title>Sent Query</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="login-part-outer-s add-subject">
   <div class="Login-wrapper">
    <form [formGroup]="addSubjectForm" (ngSubmit)="Getintouch(addSubjectForm.value)" class="form-css">
     <div>
      <ion-list class="first-border">
        <ion-item [ngClass]="{'error-border':!addSubjectForm.controls.ageGroup1.valid && addSubjectForm.controls.ageGroup1.touched}">
          <ion-label>{{lang.lable.Age_Group}}</ion-label>
          <ion-select name="subject" [(ngModel)]="AgeGroup" formControlName="ageGroup1"  (ionChange)="onContextChange($event.value)">
            <ion-option *ngFor="let GetLevel of GetLevel" value="{{ GetLevel._id}}">{{ GetLevel.MainCateory}}</ion-option>
					</ion-select>
        </ion-item>
        <div class="chkAlert" *ngIf="addSubjectForm.controls.ageGroup1.hasError('required') && addSubjectForm.controls.ageGroup1.touched">
          <div class="alert alert-warning alert-dismissible fade show"   role="alert">
            <strong> </strong> {{lang.error.Age_Group_err}}
          </div>
        </div>
      </ion-list>   
      <div class="age-group" *ngIf="data_Available">
      <ion-list>
        <ion-item [ngClass]="{'error-border':!addSubjectForm.controls.groupSubject.valid && addSubjectForm.controls.groupSubject.touched}">
          <ion-label>{{lang.lable.Group_Subject}}</ion-label>
          <ion-select name="subject" placeholder="Select Sub Category " [(ngModel)]="GroupSubject"  formControlName="groupSubject" >
            <ion-option *ngFor="let GetLevelSubCategory of GetLevelSubCategory" value="{{ GetLevelSubCategory._id}}">{{ GetLevelSubCategory.Subcategory}}</ion-option>
					</ion-select>
        </ion-item>
        <div class="chkAlert" *ngIf="addSubjectForm.controls.groupSubject.hasError('required') && addSubjectForm.controls.groupSubject.touched">
          <div class="alert alert-warning alert-dismissible fade show"   role="alert">
            <strong> </strong> {{lang.error.Group_subject_err}}
          </div>
        </div>
      </ion-list>
     </div>
       <div class="age-group" *ngIf="!data_Available">
        <ion-list >
          <ion-item [ngClass]="{'error-border':!addSubjectForm.controls.groupSubject.valid && addSubjectForm.controls.groupSubject.touched}">
            <ion-label>{{lang.lable.Group_Subject}}</ion-label>
            <ion-select name="subject" placeholder="Select main Category first" [(ngModel)]="GroupSubject"  formControlName="groupSubject" (ionChange)="onContextChangeGroup($event.value)">
              <ion-option  [disabled]="true">Select main Category First</ion-option>
            </ion-select>
          </ion-item>
          <div class="chkAlert" *ngIf="addSubjectForm.controls.groupSubject.hasError('required') && addSubjectForm.controls.groupSubject.touched">
            <div class="alert alert-warning alert-dismissible fade show"   role="alert">
              <strong></strong> {{lang.error.Group_subject_err}}
            </div>
          </div>
        </ion-list>
      </div>
       <!-- <ion-list *ngIf="Alldata_Available">
        <ion-item [ngClass]="{'error-border':!addSubjectForm.controls.Subject1.valid && addSubjectForm.controls.Subject1.touched}">
          <ion-label>{{lang.lable.Subject_selection}}</ion-label>
           <ion-select name="subject" placeholder="{{lang.placeholder.Select_Age_and_Group_Subject_First}}" [(ngModel)]="Subject" formControlName="Subject1"  >

					  	<ion-option *ngFor="let SubCategory of SubCategory" value="{{ SubCategory.id}}">{{ SubCategory.title}}</ion-option>
					 </ion-select>
        </ion-item>
         <div class="chkAlert" *ngIf="addSubjectForm.controls.Subject1.hasError('required') && addSubjectForm.controls.Subject1.touched">
          <div class="alert alert-warning alert-dismissible fade show"   role="alert">
            <strong></strong> {{lang.error.Subject_selection_err}}
          </div>
        </div>
      </ion-list> -->
       <!-- <ion-list *ngIf="!Alldata_Available">
        <ion-item [ngClass]="{'error-border':!addSubjectForm.controls.Subject1.valid && addSubjectForm.controls.Subject1.touched}">
          <ion-label>{{lang.lable.Subject_selection}}</ion-label>
          <ion-select name="subject" placeholder="{{palceholder()}}" [(ngModel)]="Subject" formControlName="Subject1"  >
            
            <ion-option [disabled]="true">{{lang.placeholder.Select_Age_group_subject}} </ion-option>
          </ion-select>
        </ion-item>
        <div class="chkAlert" *ngIf="addSubjectForm.controls.Subject1.hasError('required') && addSubjectForm.controls.Subject1.touched">
          <div class="alert alert-warning alert-dismissible fade show"   role="alert">
            <strong></strong> {{lang.error.Subject_selection_err}}
          </div>
        </div>
      </ion-list> -->

      <!-- <ion-list>
        <ion-item  [ngClass]="{'error-border':!addSubjectForm.controls.pricePerSession.valid && addSubjectForm.controls.pricePerSession.touched}">
          <ion-label>{{lang.lable.Price_per_session}}</ion-label>
          <ion-input type="text" formControlName="pricePerSession" [(ngModel)]="Session" maxLength="4" ></ion-input>
        </ion-item>
        <div class="chkAlert" *ngIf="addSubjectForm.controls.pricePerSession.hasError('required') && addSubjectForm.controls.pricePerSession.touched">
          <div class="alert alert-warning alert-dismissible fade show"   role="alert">
            <strong></strong> {{lang.error.Price_per_session_err}}
          </div>
        </div>
      </ion-list> -->


      <!-- <ion-list>
        <ion-item  [ngClass]="{'error-border':!addSubjectForm.controls.pricePerMonth.valid && addSubjectForm.controls.pricePerMonth.touched}">
          <ion-label>{{lang.lable.Price_per_month}}</ion-label>
          <ion-input type="text" formControlName="pricePerMonth" [(ngModel)]="month" maxLength="4" ></ion-input>
        </ion-item>
        <div class="chkAlert" *ngIf="addSubjectForm.controls.pricePerMonth.hasError('required') && addSubjectForm.controls.pricePerMonth.touched">
          <div class="alert alert-warning alert-dismissible fade show"   role="alert">
            <strong></strong> {{lang.error.Price_per_month_err}}
          </div>
        </div>
      </ion-list> -->


      <!-- <ion-list>
        <ion-item>
          <ion-label>{{lang.lable.Price_per_month}}</ion-label>
          <ion-input type="tel"  [ngModelOptions]="{standalone: true}" [(ngModel)]="month" maxLength="4" ></ion-input>
        </ion-item>
     
      </ion-list> -->
      <!-- <ion-list>
        <ion-item >
          <ion-label>{{lang.lable.Other_info}}</ion-label>
          <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="other"  maxlength="50"></ion-input>
        </ion-item>
      </ion-list> -->
      <ion-list>
        <ion-item [ngClass]="{'error-border':!addSubjectForm.controls.description1.valid && addSubjectForm.controls.description1.touched}">
          <ion-label>{{lang.lable.Description}}</ion-label>
          <ion-textarea rows="2" type="text" formControlName="description1"  [(ngModel)]="description"  maxLength="500"></ion-textarea>>
        </ion-item>
        <div class="chkAlert" *ngIf="addSubjectForm.controls.description1.hasError('required') && addSubjectForm.controls.description1.touched">
          <div class="alert alert-warning alert-dismissible fade show"   role="alert">
            <strong></strong> {{lang.error.Description_err}}
          </div>
        </div>
      </ion-list>
      <div class="LoginButton">
        <button class="btn btn-green Login_Button" ion-button color="theme" [disabled]="!addSubjectForm.valid" type="submit">Book Now</button>
      </div>
    </div>
    </form>
  </div>

</div>
</ion-content>

