<ion-header class="profile-header-new">
  <ion-toolbar class="profile-condi-head" style="background:#0036FF" text-center *ngIf="profilePage">
    <ion-buttons left >
      <button ion-button menuToggle left >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
  <ion-navbar >
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="new-re-profile profile-top">
      <ion-row>
          <ion-col col-2>
            <ion-avatar item-start>
              <img  src="assets/imgs/user-male-icon.png" onError="this.src='assets/imgs/user-male-icon.png';">
            </ion-avatar>
          </ion-col>
          <ion-col class="star-width"> 
            <div class="pro-title-h">
            <h2>{{User}}<ion-icon *ngIf="verified" name="ios-checkmark-circle-outline" class="profile-check"></ion-icon></h2>
            <div *ngIf="type==1">
              <div class="text-warning pro-rating"  >
                <rating [(ngModel)]="rate" readonly="true" max="5" *ngIf="readonly" emptyStarIconName="star-outline"  halfStarIconName="star-half" starIconName="star" nullable="false" >
                </rating>
              </div>
              </div>
            </div>
              <div class="availbe-location">
                  <h3>Location</h3>
                  <p>{{address}}</p>
                </div>

              </ion-col>
          <ion-col class="star-width1"> 
            <div class="availbe">
              <h3>City </h3>
              <p>{{city}}</p>
            </div>
            <div class="gender-row">
            <div class="gender1">
                <h3>gender</h3>
                <p>{{gender}} </p>
              </div>
              <div class="age">
                  <h3>Age</h3>
                  <p>{{age}} Years</p>
                </div>
                </div>
          </ion-col>
          <ion-col col-2>

           <!--  heart icon -->
           <div class="ShortList" >
            
              <button ion-button  class="bump-new-class" (click)="gotoedit()">View Profile</button>                    
            </div>
      
          </ion-col>
          </ion-row>
  </div>

  <div class="profile-main">
    <div class="sub-history">
      <div>
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="subject">
              Bill Records
          </ion-segment-button>
          <!-- <ion-segment-button value="Favourite"  *ngIf ="type != '1'" >
            Favourites
          </ion-segment-button> -->
        </ion-segment>
      </div>

      <div [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'subject'">
          <div class="subject new-subject">
            <div class="overlap-heding">
              <h1 class="one"><span>Bill Records List</span></h1>
            </div>
           
            <div  *ngFor="let UserData of BillDetails"  >
              <div class="subject-inner"  >
                <ion-row>
              <ion-col col-10 text-left class="new-text-l">
               Vendor Name: {{UserData.AllottedTo}}
              </ion-col>
          
                </ion-row>
                <div >
                <p>Bill Description: {{UserData.BillDetails}}</p>
                <div class="ribbon-wrapper2"  >
                  <img src="assets/imgs/bumped-icon.png"/>
                </div>
                <div class="subject-detail">
                  <p> <ion-icon name="logo-usd" class="dollar-i"></ion-icon>Price:</p>
                     <p>{{UserData.BillPrice}}</p>
                </div>
                <h2>Billing Details</h2>
                <p>Date: {{UserData.BillDate | date: 'dd/MM/yyyy'}} BillNo :{{UserData.BillNo}} Status: {{UserData.Status}} </p>

                </div>
              </div>
            </div>
        
          </div>

        
        </ion-list>
       
    
      </div>

    </div>




  </div>

</ion-content>
