page-profile {
.rating .button-md
{
  background-color: transparent !important;
}
[col-1] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
}
.calender{
  padding: 0;
  margin-top:10px;
  margin-bottom:10px;
  ion-icon{color: #333333;}
  .col {
    text-align: center;
    padding: 2px;
    font-size: 13px;
    line-height: 20px;
    padding: 0;
    
  }
} 

.circle{
  background: #008b02;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-top: 22px;
  color: #fff;
  span{display: block;}
  :first-child{
    font-size: 35px;
    text-align: center;
    line-height: 35px;
    padding-top: 22px;
  }
  :last-child{
    font-size: 16px;
    font-weight: lighter;
  }
}

.col {
  text-align: center;
  padding: 5px;
}
.last-month, .next-month {
  color: #999999;
  font-size: 90%;
}
.currentDate, .otherDate {
  padding: 5px;
}
.currentDate {
  font-weight: bold;
  background-color: #009002;
  color: white;
  border-radius: 30px;
}
.calendar-header {
  background-color: #ffffff;
  color: #333333;
}
.event-bullet {
  margin: 2px auto;
  height: 5px;
  width: 5px;
  background-color: green;
  border-radius: 30px;
}
.selected-date {
  width: 20px;
  height: 2px;
  background-color: blue;
}
.unselected-date {
  border: none;
}
.calendar-body {
  .grid {
    padding: 0;
  }
  .col:last-child {
    border-right: none;
  }
  .calendar-weekday, .calendar-date {
    text-align: center;
    margin: 0;
  }
  .calendar-weekday {
    font-weight: bold;
    border-bottom: none;
    background-color: #ffffff;
  }
  .calendar-date {
  /*   border-top: solid 1px #1a732d;
    border-bottom: solid 1px #1a732d; */
  }

  
}
.rate-sublist{
  margin-top: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #008b02;
  padding-bottom: 10px;
  span{
    background: #009202;
    padding: 3px 5px;
    margin-right: 2px;
    border-radius: 15px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    margin-bottom: 5px;
  }
}

  .mylist{
    display: inline-block;
    width: 100%;
    padding: 10px;
  }
  .SubjectListNew {
    text-align : left !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    h3{
      padding-left: 10px;
    font-size: 18px;
    }
  }
  .selected_red{
    background: red !important;
  }
}
