<!--
  Generated template for the OtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <!--  <ion-navbar>
    <ion-title>Otp</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>

    <div class="cross-bar"><ion-icon name="md-close"  (click)="back()"></ion-icon></div>
    <div class="login-part-outer-s">
      <div class="Login-wrapper signup-wrapper">
        <div class="LogoArea">
            <img src="assets/imgs/gemlogo.png" >
        </div>
        <div class="SignUpRefer-1">
            <div class="textpara1 textpara"> Please enter the OTP sent to your mobile number</div>
        </div>
        <div class="Otp-area">
          <div class="InputOTPArea">
            <ion-input class="otp-enter"></ion-input>
            <ion-input class="otp-enter"></ion-input>
            <ion-input class="otp-enter"></ion-input>
            <ion-input class="otp-enter"></ion-input>
            <ion-input class="otp-enter"></ion-input>
            <ion-input class="otp-enter"></ion-input>
        </div>
      <div class="SignUpRefer">
            <div class="textpara1 textpara">Click <em style="font-style:inherit;text-decoration:underline;">here</em> to resend OTP</div>
        </div>
          <div class="LoginButton">
            <div class="signup-select-btn-outer">
              <div class="btn btn-green"(click)="click()">Skip</div>
            </div>
          </div>
        </div>
      </div>
    </div>

</ion-content>
