page-home {
  .image {
    margin: auto;
      height: 90px;
      width: 90px;
      border-radius: 50% !important;
      overflow: hidden;
  }
  .row{
    padding-top:10px;
    padding-bottom:10px;
  }
  .hidden{
    height: 25%;
  }
}
