
<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar class="user-profile">
          <ion-grid>
            <ion-row>
              <ion-col col-3>
                <div class="user-avatar">
                  <img src="{{image}}" (click)="profile()"  onError="this.src='assets/imgs/gemlogo1.png';">
                </div>
              </ion-col>
              <ion-col col-9 class="flex-centers">
                <div class="car-mart-user">
                  <h2 ion-text class="no-margin bold text-white">
                    JinnyDoor <br> <span class="loginfont"> </span>
                  </h2>
                  <!-- <p>  {{Email}}</p> -->
                </div>
                <ion-icon ios="ios-settings" md="md-settings" class="setting-icon" (click)="setting()"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
    </ion-header>
    <ion-content class="car-nav-menu">
      <div >
        <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)" detail-push>
          <ion-icon [name]="p.icon" ></ion-icon>
          {{ p.title }}
          <ion-icon name="ios-arrow-forward-outline" class="nav-icon-right"></ion-icon>
        </ion-item>
        <ion-item menuClose class="logout-nav" (click)="logout()">
          <ion-icon  name="ios-log-out-outline"  ></ion-icon>Logout
        </ion-item>
      </div>



  </ion-content>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
