<ion-content>
  <div class="cross-bar"><ion-icon name="md-close"  (click)="close()"></ion-icon></div>
    <div class="login-header">

        <div class="pro-img-box">
          <!--  <img alt="" src="assets/imgs/gemlogo.png" class="">-->
          <div class="LogoDiv logo">
            <div class="LogoDivTutor WelcomeLg profile-image" >
                <!-- <div class="LogoDivTutor WelcomeLg profile-image" > -->
              <img class="notHome" *ngIf="imageURI !='assets'"  src="{{imageURI}}"  >
              <img class="notHome" *ngIf="imageURI =='assets'"  src="assets/imgs/user-male-icon.png"  >
              <a href="javascript:void(0);" class="update-btn"> <ion-icon ios="ios-camera-outline" md="ios-camera-outline" class="camera_font1"></ion-icon></a>
            </div>
          </div>
        </div>
    </div>
  <div class="Login_form Login_form-nu">
  <form novalidate (ngSubmit)="saveUserData(authForm)" [formGroup]="authForm">
  <div class="signUp_form">
    <div class="sign_in" text-center> <span class="craete1" >Create</span> {{UserType}} </div>
    <div margin-top="5px">
      <ion-item class="login_input">
        <ion-label> <ion-icon name="ios-person-outline" icon-left></ion-icon> </ion-label>
        <ion-input placeholder="{{lang.placeholder.Name}}"   formControlName="name" [(ngModel)]="signup.fullname" type="text"></ion-input>
      </ion-item>
       <div class="error" *ngIf="authForm.get('name').hasError('required') && authForm.get('name').touched">
        {{lang.error.enter_full_name}}
        </div>

      <div class="error" *ngIf="authForm.get('name').hasError('maxlength') && authForm.get('name').touched">      
        {{lang.error.full_name_length}}
      </div>
      <ion-item class="login_input">
        <ion-label> <ion-icon name="ios-mail-outline" icon-left></ion-icon> </ion-label>
        <ion-input placeholder="{{lang.placeholder.Email}}" formControlName="email" [(ngModel)]="signup.email" type="text"></ion-input>
      </ion-item>
       <div class="error" *ngIf="authForm.get('email').hasError('required') && authForm.get('email').touched">
         {{lang.error.email_error}}
        </div>
        <div class="error" *ngIf="authForm.get('email').hasError('pattern') && authForm.get('email').touched">
          {{lang.error.email__formate_error}}
        </div>

      
      <ion-item class="login_input">
        <ion-label> <ion-icon name="ios-unlock-outline" icon-left></ion-icon> </ion-label>
        <ion-input placeholder="{{lang.placeholder.Password}}" formControlName="password" [(ngModel)]="signup.password" type="password"></ion-input>
      </ion-item>
      <div class="error" *ngIf="authForm.get('password').hasError('required') && authForm.get('password').touched">
          {{lang.error.password_error}}
        </div>
        <div class="error" *ngIf="(authForm.get('password').hasError('minlength') || authForm.get('password').hasError('maxlength') || authForm.get('password').hasError('pattern')) && authForm.get('password').touched">
          {{lang.error.password__formate_error}}
        </div>

      <ion-item class="login_input" [ngClass]="{'error-border':!authForm.controls.password.valid && authForm.controls.password.touched}" class="confirm-last">
        <ion-label> <ion-icon name="ios-unlock-outline" icon-left></ion-icon> </ion-label>
        <ion-input placeholder="{{lang.placeholder.Confirm_Password}}" formControlName="Confirmpassword"  [(ngModel)]="Confirmpassword" type="password"></ion-input>
      </ion-item>

        <div class="alert alert-warning alert-dismissible fade show error" *ngIf="authForm.controls.Confirmpassword.touched && authForm.hasError('mismatchedPasswords') && authForm.controls.password.valid"  role="alert">
          {{lang.error.Confirm_Password_Match}}
        </div>

      <ion-item class="login_input">
          <ion-label> <ion-icon name="ios-call-outline" icon-left></ion-icon> </ion-label>
          <ion-input placeholder="{{lang.placeholder.Phone_Number}}"  formControlName="mob" [(ngModel)]="signup.contactnumber" type="number"></ion-input>
        </ion-item>
           <div class="error" *ngIf="authForm.get('mob').hasError('required') && authForm.get('mob').touched">
             {{lang.error.enter_Mobile}}
          </div>
          <div class="error" *ngIf="authForm.get('mob').hasError('minlength') && authForm.get('mob').touched">
            {{lang.error.enter_Mobile_Min}}
          </div>
  
          <div class="error" *ngIf="authForm.get('mob').hasError('maxlength') && authForm.get('mob').touched">
            {{lang.error.enter_Mobile_Max}}
          </div>

          <ion-item class="login_input">
            <ion-label> <ion-icon name="ios-person-outline" icon-left></ion-icon> </ion-label>
            <ion-input placeholder="{{lang.placeholder.Age}}"  formControlName="age" [(ngModel)]="signup.age" type="tel" maxLength ="3"></ion-input>
          </ion-item>

        <div class="error" *ngIf="authForm.get('age').hasError('required') && authForm.get('age').touched">
           {{lang.error.Age}}
         </div>
      <div class="error" *ngIf="authForm.get('age').hasError('minlength') && authForm.get('age').touched">
        {{lang.error.enter_Age_Min}}
      </div>
      <div class="error" *ngIf="authForm.get('age').hasError('maxlength') && authForm.get('age').touched">
        {{lang.error.enter_Age_Max}}
      </div>

        <ion-item >
           
                <ion-label>State</ion-label>
                <ionic-selectable
                  item-content 
                  [(ngModel)]="signup.address"
                  formControlName="address" 
                  [items]="State"
                  itemValueField="state"
                  itemTextField="state"
                  [canSearch]="true"
                  (onChange)="portChange($event)">
                </ionic-selectable>
              
         
        </ion-item>
         <!-- <ion-label>State</ion-label>
          <ion-select name="subject"  [(ngModel)]="signup.address" formControlName="address"  >
            <ion-option *ngFor="let GetLevel of State" value="{{ GetLevel.state}}">{{ GetLevel.state}}</ion-option>
          </ion-select> -->

        <ion-item >
           
          <ion-label>City</ion-label>
          <ionic-selectable
            item-content 
            [(ngModel)]="signup.city"
            formControlName="city" 
            [items]="CityData"
            itemValueField="Name"
            itemTextField="Name"
            [canSearch]="true"
            >
          </ionic-selectable>
        
    <!-- <ion-label>{{lang.placeholder.Address}}</ion-label>
    <ion-select name="subject"  [(ngModel)]="signup.address" formControlName="address"  >
      <ion-option *ngFor="let GetLevel of city" value="{{ GetLevel.id}}">{{ GetLevel.title}}</ion-option>
    </ion-select> -->
  </ion-item>
      <div class="error" *ngIf="authForm.get('city').hasError('required') && authForm.get('city').touched">
        {{lang.error.enter_address}}
      </div>

     <ion-item class="login_input">
        <ion-label> <ion-icon name="ios-pin-outline" icon-left></ion-icon> </ion-label>
        <ion-input placeholder="{{lang.placeholder.Address}}"  formControlName="location" [(ngModel)]="signup.location" type="text"></ion-input>
      </ion-item>
      <div class="error" *ngIf="authForm.get('location').hasError('required') && authForm.get('location').touched">
        {{lang.error.enter_address}}
      </div>
        <ion-list class="login_input"  >
          <ion-item>
            <ion-label><ion-icon name="ios-person-outline" icon-left></ion-icon></ion-label>
            <ion-select [(ngModel)]="signup.gender" placeholder="Gender" formControlName="gender">
              <ion-option value="Male">Male</ion-option>
              <ion-option value="Female">Female</ion-option>              
            </ion-select>
          </ion-item>
        </ion-list>
        <div class="error" *ngIf="authForm.get('gender').hasError('required') && authForm.get('gender').touched">
          {{lang.error.Gender}}
        </div>
     <div class="sign-check">
         <ion-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="checked"></ion-checkbox>
       <span>I accept the <a (click)="openTerms()">Terms Of Use</a> & 
        <a (click)="policy()">Privacy Policy</a></span>

     </div>

      <div class="sign-check" *ngIf="UserType=='Learner'">
        <ion-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="freeTution"></ion-checkbox>
        <span>Check eligibility for free lessons

<span class="jbyuiy">
    (*Terms & Conditions may apply)
</span>
            
        </span>
      </div>

    </div>
    <div text-center>
      <!-- <button ion-button  class="Login_Button1"  [disabled]="authForm.invalid">{{lang.button.Button}}</button> -->
      <button ion-button  class="Login_Button1"  >{{lang.button.Button}}</button>
    </div>   
  </div>
  </form>
</div>

  <!-- <div class="soacial-login">
    <ion-grid>
      <ion-row>
          <ion-col col-6> <button ion-button  class="face-book"(click)="loginWithFB()" >{{lang.button.Facebook_Button}}</button></ion-col>
          <ion-col col-6><button ion-button  class="google" (click)="doGoogleLogin()">{{lang.button.Google_button}}</button></ion-col>
      </ion-row>
      </ion-grid>
</div> -->

</ion-content>
