 <ion-header>
<ion-navbar>

  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title class="LogoDiv logo">About Us</ion-title>
</ion-navbar>
</ion-header>
<ion-content padding>

  <div class="HomePageTutor PageTutorCommon about-us">
    <div class="HomePageContainer AppCommonContainer">
      <div class="LogoDiv logo"><div class="LogoDivTutor WelcomeLg"><img src="assets/imgs/gemlogo1.png"></div></div>
    
      <div class="welcome-name">Welcome </div>
      <div class="CountingsHome" *ngIf="CountData">
        <div class="Counting-home">
          <div class="leftPartCounting CountingPartDiv">
            <div class="countDivInner left1">
              <div>
                <div class="TotalCount"> {{ CountData.total_tutor}} </div>
                <div class="name">Total Trainers</div>
              </div>
            </div>
            <div class="countDivInner left2">
              <div>
                <div class="TotalCount"> {{ CountData.total_student}} </div>
                <div class="name">Total Learners</div>
              </div>
            </div>
          </div>
          <div class="rightPartCounting CountingPartDiv">
            <div class="countDivInner right1">
              <div>
                <div class="TotalCount"> {{CountData.online_tutors}}</div>
                <div class="name">Online Trainers</div>
              </div>
            </div>
            <div class="countDivInner right2">
              <div>
                <div class="TotalCount"> {{CountData.online_students}}</div>
                <div class="name">Online Learners</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cardSlider">
        Jinnydoor is a brand which provides you service in any area you change imagine few names are
        Plumbing, electrician, electronics repair, Photography, Salon services at home.
      </div>
      <div class="cardSlider">
        And our Flagship service remains to be I.T. Services which include wide range of I.T. related services
        whether its CCTV installation or EPABX or Biometric etc.,
      </div>
      <div class="cardSlider">
        We are constantly expanding with keeping quality of services intact and looking forward to serve you and provide you an experience you felt never before.
      </div>
      <div class="contact-home">
     
        If you have any feedback or comments, please refer to the <a   (click)="pushtocontact()" >"Contact Us" </a>page located at the bottom of the sidebar.
      </div>
    </div>
  </div>
</ion-content>
