<ion-slides pager="true" #slides class="pre-nextslider">

  <ion-slide>   
    <img src="assets/imgs/into.png" />
    <div class="prew-next">
         
      <!-- <button ion-button color="light" class="next" (click)="next()">Next</button>  -->
    </div>

       
  </ion-slide>

  <!-- <ion-slide>   
    <img src="assets/imgs/profile1.png" /> 
    <div class="prew-next">
   
  </div>
  </ion-slide> -->

  <!-- <ion-slide>
    <img src="assets/imgs/connect.png" /> 
    <div class="prew-next">
      <button ion-button color="light" class="prew" (click)="prev()">Prev</button>    
      <button ion-button color="light" class="next" (click)="next()">Next</button> 
    </div>
  </ion-slide> -->

  <!-- <ion-slide>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/sign-in.png" />
        <div class="prew-next">
          <button ion-button color="light" class="prew" (click)="prev()">Prev</button>    
          <button ion-button color="light" class="next" (click)="goToHome()">Start Using My App</button> 
        </div>
        <button ion-button color="light" class="startapp" (click)="goToHome()">Start Using My App</button>
      </ion-col>
    </ion-row>
  </ion-slide> -->
 

</ion-slides>
<div class="prew-next" *ngIf=" index == 0">   
    <!-- <button ion-button color="light" class="next" (click)="next()">Next</button>  -->
    <button ion-button color="light" class="next" (click)="next()">Skip</button> 
    </div>
<!-- <div class="prew-next" *ngIf=" index == 1">
<button ion-button color="light" class="prew" (click)="prev()">Prev</button>    
<button ion-button color="light" class="next" (click)="next()">Next</button> 
</div>
<div class="prew-next" *ngIf=" index == 2">  
    <button ion-button color="light" class="prew" (click)="prev()">Prev</button>     
  <button ion-button color="light" class="next" (click)="next()">Start Using App</button> 
  </div> -->