.ios, .md {

    page-intro {
  
      ion-slide {
        background-color: #13364f;
      }
  
      ion-slide img {
    
        width: auto !important;
      }
  
    }
  
  }

  .startapp{ 
    position: absolute;
    z-index: 111;
    bottom: 43px;
    background-color: transparent;
    box-shadow: none;
    color: #fff;}

    .prew-next {
        position: fixed;
        z-index: 111;
        bottom: 30px;
        width: 100%;
    }

    .next {
        position: absolute;
        right: 15px;
        bottom: 20px;
        background-color: transparent;
        box-shadow: none;
    }
    .prew{
        position: absolute;
        left: 15px;
        bottom: 20px;
        background-color: transparent;
        box-shadow: none;
    }

    .pre-nextslider .swiper-pagination-bullets {
        display: none;
    }

    page-intro {
        background-color: #13364f;
    }