<!--
  Generated template for the RequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="rating-bg" style="background-color: #ffffff!important;">

   
  <div class="Login_form-s" style="background-color: #ffffff!important;">

    <ion-item>
      <ion-label color="primary" class="comment-s"><ion-icon name="ios-unlock-outline" icon-left></ion-icon></ion-label>
     <ion-input class="ratings-comment" type="password" [(ngModel)]="old" placeholder="{{lang.placeholder.old_password}}"></ion-input>
   </ion-item>

   <ion-item>
    <ion-label color="primary" class="comment-s"><ion-icon name="ios-unlock-outline" icon-left></ion-icon></ion-label>
   <ion-input class="ratings-comment" type="password" [(ngModel)]="new" placeholder="{{lang.placeholder.new_password}}"></ion-input>
 </ion-item>

 <ion-item>
  <ion-label color="primary" class="comment-s"><ion-icon name="ios-unlock-outline" icon-left></ion-icon></ion-label>
 <ion-input class="ratings-comment" type="password" [(ngModel)]="confirmnew" placeholder="{{lang.placeholder.new_password}}"></ion-input>
</ion-item>

    <div class="time-table-btns" style="margin-top:5px;">
  <button class="time-table-btn btnGlobal.LoGin rating-m Login_Button" (click)="change()">{{lang.button.Update_password}}</button>
</div>
</div>

</ion-content>
