<!--
  Generated template for the TermsConditionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>terms & Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div [innerHTML]='message'></div>
</ion-content>
