<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<!-- 
  <ion-navbar>
    <ion-title>welcome</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content>

  <div class="welcome">

    <div class="welcome-inner">

      <div class="select-box" (click)="goto()">
        <img alt="" src="../assets/imgs/gemlogo.png" class="">  
          <h2>Gem Academy</h2>
      </div>
   
      <!-- <div class="select-box">
          <ion-icon name="ios-cash-outline" class="select-icon"></ion-icon>
          <h2>Loans</h2>
      </div>

      <div class="select-box">
          <ion-icon name="ios-car-outline" class="select-icon"></ion-icon>
          <h2>Insurance</h2>
      </div> -->

    </div>


  </div>

</ion-content>
