<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="LogoDiv logo">Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <div class="SignUpOuterTutor contact-us-page">
    <div class="SignUpTutorContainer AppContainer">
      <!-- <div class="LogoDiv logo">
        <div class="LogoDivTutor WelcomeLg"><img class="notHome" src="assets/imgs/LogoWeb.png"></div>
        <div style="FONT-SIZE: 27PX;">STUDENT REGISTRATION</div>
      </div> -->
      <div class="FormInputDiv">
        <form name="newrequestForm" #myForm="ngForm" (ngSubmit)="Getintouch(myForm)" class="form-css" >
          <ion-list class="ListItemsSignIn">


            <ion-item class="Item1SignIn margin-top0">
              <ion-label  floating>Full_Name</ion-label>
              <ion-input type="text" name = "fullname" #fullnameCtrl="ngModel" [(ngModel)]="Name" required></ion-input>
            </ion-item>
            <div *ngIf="fullnameCtrl.invalid && (fullnameCtrl.dirty || fullnameCtrl.touched)" class="errorMsgClass">
              <div *ngIf="fullnameCtrl.errors.required">
                {{lang.error.enter_full_name}}
              </div>
            </div>

            <ion-item class="Item1SignIn">
              <ion-label  floating>Email</ion-label>
              <ion-input type="email" required [(ngModel)]="Email"  name="email1" #emailCtrl="ngModel" pattern ='^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$'  required></ion-input>
            </ion-item>
            <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)" class="errorMsgClass">
              <div *ngIf="emailCtrl.errors.required">
                {{lang.error.email_error}}
              </div>
              <!--  <div *ngIf="emailCtrl.errors.pattern">
                 Please Enter Proper Email Address
               </div> -->
            </div>

            <ion-item class="Item2SignIn">
              <ion-label  floating>Contact Number</ion-label>
              <ion-input type="number"  name = "num"  #number="ngModel" [(ngModel)]="Mobile" minlength="8" maxlength="12"  required></ion-input>
            </ion-item>
            <div *ngIf="number.invalid && (number.dirty || number.touched)" class="errorMsgClass">
              <div *ngIf="number.errors.required">
               {{lang.error.enter_Mobile}}
              </div>
              <div *ngIf="number.errors.minlength">
               {{lang.error.enter_Mobile_Min}}
              </div>
            </div>
            <ion-item class="Item4SignIn">
              <ion-label floating>Address</ion-label>
              <ion-input type="text" name = "UserMessage" #AddressCtrl="ngModel" [(ngModel)]="Address" required></ion-input>
            </ion-item>
            <div *ngIf="AddressCtrl.invalid && (AddressCtrl.dirty || AddressCtrl.touched)" class="errorMsgClass">
              <div *ngIf="AddressCtrl.errors.required">
                 Please Enter Address
              </div>
            </div>
            <ion-item class="Item4SignIn">
              <ion-label floating>{{lang.lable.Enter_Message}}</ion-label>
              <ion-input type="text" name = "UserMessage" #MessageCtrl="ngModel" [(ngModel)]="Message" required></ion-input>
            </ion-item>
            <div *ngIf="MessageCtrl.invalid && (MessageCtrl.dirty || MessageCtrl.touched)" class="errorMsgClass">
              <div *ngIf="MessageCtrl.errors.required">
                {{lang.error.Enter_Message}}
              </div>
            </div>



            <div class="LogInBtn WithSignUp">
              <button  type ="submit" class="btnGlobal LoGins Login_Button"  [disabled]="myForm.invalid" >Submit</button>
            </div>
          </ion-list>
        </form>
      </div>
    </div>
  </div>
</ion-content>
