<ion-header>
  <ion-toolbar *ngIf="view">
    <ion-buttons left ><!-- here -->
      <button ion-button  menuToggle left >
        <ion-icon class="test" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
    JinnyDoor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<div *ngIf="view">
  <div class="add-slider"> 
        <ion-slides  autoplay="2000" loop="true" speed="300" class="slide" pager="true">
      <ion-slide >
        <img class="img"  src="assets/imgs/Service1.png" (click)="openLink(UserData.link)">
      </ion-slide>
      <ion-slide >
        <img class="img"  src="assets/imgs/Service2.png" (click)="openLink(UserData.link)">
      </ion-slide>
      <ion-slide >
        <img class="img"  src="assets/imgs/Service3.png" (click)="openLink(UserData.link)">
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6  *ngFor="let UserData of MainCategory">
        <div class="home-school-list" (click)="gotoviewcar(UserData.MainCateory,UserData._id)">
          <img class="img"  src="{{UserData.imageUrl}}"  onError="this.src='assets/imgs/no_data_found.png';" >        
          <div class="home-hed-list">
            <h2>{{UserData.MainCateory}}</h2>
          </div>
        </div>
      </ion-col>     
    </ion-row>
  </ion-grid>
</div>
  <div *ngIf="notFound" class="no-result-fond" >
    <div class="profile-btn" >
      <ion-card-content>
        <div class="found"> No Data Found ....</div>
       <!-- <button class="pro-btn pro "  ion-button color="light" (click)="PushPage()"> <ion-icon ios="ios-search-outline" md="ios-search-outline" class="no-result"> </ion-icon> Find Again</button>-->
      </ion-card-content>
    </div>
  </div>
</ion-content>
