<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="setting-main">
    <ion-list>

      <ion-item (click)="gotoedit()">
        <ion-icon class="setting-ico"  name="ios-key-outline" item-start></ion-icon>
        Edit Profile
      </ion-item>


      <ion-item (click)="gotochangePass()">
        <ion-icon class="setting-ico" name="ios-lock-outline" item-start></ion-icon>
        Change Password
      </ion-item>
    </ion-list>

  </div>

</ion-content>

<
<ion-footer class="setting-fotter">
  <div class="setting-main setting-f">
  <ion-item (click)="logout()">
    <ion-icon class="setting-ico"  name="ios-log-out-outline" item-start></ion-icon>
    Logout
  </ion-item>
  </div>
</ion-footer>
