<!--
  Generated template for the RequestdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Booking Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: #ffffff;">

  <div class="find-tutor-and-student request-detail-ra">
  <ion-toolbar class="request-segment" >
    <ion-segment [(ngModel)]="relationship" color="yelow" >
       <ion-segment-button text-capitalize value="schedule" style="font-size: larger;" >
        Sent Query
       </ion-segment-button>
       <ion-segment-button text-capitalize value="diet" style="font-size: larger;" >
        Price List 
       </ion-segment-button>
       
     </ion-segment>
  </ion-toolbar> 


<div [ngSwitch]="relationship" >
  
  
  <ion-list *ngSwitchCase="'schedule'">  

    <div class="FormInputDiv">
        <form name="newrequestForm" #myForm="ngForm" (ngSubmit)="Getintouch(myForm)" class="form-css" >
          <ion-list class="ListItemsSignIn">


            <ion-item class="Item1SignIn margin-top0">
              <ion-label  floating>Full_Name</ion-label>
              <ion-input type="text" name = "fullname" #fullnameCtrl="ngModel" [(ngModel)]="Name" required></ion-input>
            </ion-item>
            <div *ngIf="fullnameCtrl.invalid && (fullnameCtrl.dirty || fullnameCtrl.touched)" class="errorMsgClass">
              <div *ngIf="fullnameCtrl.errors.required">
                {{lang.error.enter_full_name}}
              </div>
            </div>
            <!-- <ion-item >
           
              <ion-label>State</ion-label>
              <ionic-selectable
                item-content 
                [(ngModel)]="address"
                formControlName="address" 
                [items]="State"
                itemValueField="state"
                itemTextField="state"
                [canSearch]="true"
                (onChange)="portChange($event)">
              </ionic-selectable>
            
       
      </ion-item> -->
            <ion-item class="Item1SignIn">
              <ion-label  floating>email</ion-label>
              <ion-input type="email" required [(ngModel)]="Email"  name="email1" #emailCtrl="ngModel" pattern ='^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$'  required></ion-input>
            </ion-item>
            <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)" class="errorMsgClass">
              <div *ngIf="emailCtrl.errors.required">
                {{lang.error.email_error}}
              </div>
              <!--  <div *ngIf="emailCtrl.errors.pattern">
                 Please Enter Proper Email Address
               </div> -->
            </div>

            <ion-item class="Item2SignIn">
              <ion-label  floating>Contact Number</ion-label>
              <ion-input type="number"  name = "num"  #number="ngModel" [(ngModel)]="Mobile" minlength="8" maxlength="12"  required></ion-input>
            </ion-item>
            <div *ngIf="number.invalid && (number.dirty || number.touched)" class="errorMsgClass">
              <div *ngIf="number.errors.required">
               {{lang.error.enter_Mobile}}
              </div>
              <div *ngIf="number.errors.minlength">
               {{lang.error.enter_Mobile_Min}}
              </div>
            </div>
            <ion-item class="Item4SignIn">
              <ion-label floating>Address</ion-label>
              <ion-input type="text" name = "UserAddress" #AddressCtrl="ngModel" [(ngModel)]="Address" required ></ion-input>
            </ion-item>
             <div *ngIf="AddressCtrl.invalid && (AddressCtrl.dirty || AddressCtrl.touched)" class="errorMsgClass">
              <div *ngIf="AddressCtrl.errors.required">
                {{lang.error.Enter_Message}}
              </div>
            </div> 
            <ion-item class="Item4SignIn">
              <ion-label floating>Service Date</ion-label>
              <ion-input type="date" name = "ServiceTime" #datetime="ngModel" [(ngModel)]="ServiceTime" required ></ion-input>
            </ion-item>
             <div *ngIf="datetime.invalid && (datetime.dirty || datetime.touched)" class="errorMsgClass">
              <div *ngIf="datetime.errors.required">
               Service Date Required
              </div>
            </div> 
            <ion-item class="Item4SignIn">
              <ion-label floating>{{lang.lable.Enter_Message}}</ion-label>
              <ion-input type="text" name = "UserMessage"  [(ngModel)]="Message" ></ion-input>
            </ion-item>
            <!-- <div *ngIf="MessageCtrl.invalid && (MessageCtrl.dirty || MessageCtrl.touched)" class="errorMsgClass">
              <div *ngIf="MessageCtrl.errors.required">
                {{lang.error.Enter_Message}}
              </div>
            </div> -->



            <div class="LogInBtn WithSignUp">
              <button  type ="submit" class="btnGlobal LoGins Login_Button"  [disabled]="myForm.invalid" >Book Now</button>
            </div>
          </ion-list>
        </form>
      </div> 
              
         
 
   
  </ion-list>
  <div *ngIf="result=='Result not found...'" class="no-result-fond" >
		<div class="profile-btn" >  
			<ion-card-content>
			  <div class="found" style ="color: #f8f8f8;
			  font-size: medium;"> No Sent Request ....</div> 
			
			   
			  </ion-card-content>
			<!--  <button class="pro-btn pro "  ion-button color="light" (click)="openFindDetailPage(UserData.StudentId)">Request</button>  -->
		  
			
		  </div>
		</div>
  
 
      <ion-list *ngSwitchCase="'diet'">
   

          <div class="media"  *ngFor="let UserData of GetPriceList">
            <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                        <div class="favorite-img" >
                            <img  class="d-flex mr-3 user round"    src="assets/imgs/no_data_found.png" onError="this.src='assets/imgs/no_data_found.png';" alt="">                
                           </div>
                    </ion-col>
                    <ion-col col-9>
                        <div class="media-body" >
                            <h6 class="mt-0 mb-1"> {{UserData.PriceDes}}<ion-icon ios="ios-checkmark-circle" class="profile-check1"  md="md-checkmark-circle" ></ion-icon></h6>
                            <div >
                              <div  >
                                <span class="reviewss" > {{UserData.Price}}  Price</span>
                                
                              </div>
                                <ion-icon class="right-arrow-find" name="ios-arrow-dropright-outline"></ion-icon>
                             <div class="sub-jec-t"> {{UserData.SubProductname}} </div>
                          </div>
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>

              <!-- <div class="media">
                <ion-grid>
                      <ion-row>
                        <ion-col col-3>
                            <div class="favorite-img" >
                                <img  class="d-flex mr-3 user round"    src="assets/imgs/no_data_found.png" onError="this.src='assets/imgs/no_data_found.png';" alt="">                
                               </div>
                        </ion-col>
                        <ion-col col-9>
                            <div class="media-body" >
                                <h6 class="mt-0 mb-1"> services name<ion-icon ios="ios-checkmark-circle" class="profile-check1"  md="md-checkmark-circle" ></ion-icon></h6>
                                <div >
                                  <div  >
                                    <span class="reviewss" > 100  Price</span>
                                    
                                  </div>
                                    <ion-icon class="right-arrow-find" name="ios-arrow-dropright-outline"></ion-icon>
                                 <div class="sub-jec-t"> 10/10/2019 </div>
                              </div>
                            </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                  <div class="media"  *ngFor="let UserData2 of UserData">
                    <ion-grid>
                          <ion-row>
                            <ion-col col-3>
                                <div class="favorite-img" >
                                    <img  class="d-flex mr-3 user round"    src="assets/imgs/no_data_found.png" onError="this.src='assets/imgs/no_data_found.png';" alt="">                
                                   </div>
                            </ion-col>
                            <ion-col col-9>
                                <div class="media-body" >
                                    <h6 class="mt-0 mb-1"> {{UserData2.fullname}}<ion-icon ios="ios-checkmark-circle" class="profile-check1" *ngIf="UserData2.verified==1" md="md-checkmark-circle" ></ion-icon></h6>
                                    <div >
                                      <div *ngIf="User==2" >
                                        <span class="reviewss" *ngIf="UserData2.totalcomment > 1 "> 100  Price</span>
                                        
                                      </div>
                                        <ion-icon class="right-arrow-find" name="ios-arrow-dropright-outline"></ion-icon>
                                     <div class="sub-jec-t"> 10/10/2019 </div>
                                  </div>
                                </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div> -->

      </ion-list>

      <div *ngIf="result1=='Result not found...'" class="no-result-fond" >
        <div class="profile-btn" >  
          <ion-card-content>
            <div class="found" style ="color: #f8f8f8;
            font-size: medium;"> No Received Request ....</div> 
          
             
            </ion-card-content>
          <!--  <button class="pro-btn pro "  ion-button color="light" (click)="openFindDetailPage(UserData.StudentId)">Request</button>  -->
          
          
          </div>
        </div>
</div> 
    
</div>

</ion-content>
