
<ion-header class="header-fix-height">
  <ion-toolbar *ngIf="view" class="subject-top-icon"> 
    <ion-icon  name="arrow-back" (click)="back()"></ion-icon>
    <span class="title-custom">{{GroupTitle}}</span>
  </ion-toolbar>

</ion-header>
<ion-content>

  <div *ngIf="view">
  <ion-grid>
    <ion-row>
      <ion-col col-6  *ngFor="let UserData of GetLevelSubCategory">
        <div class="home-school-list" (click)="gotodetail(UserData._id)">
          <img class="img"  src="{{UserData.imageUrl}}" onError="this.src='assets/imgs/no_data_found.png';">
          <div class="home-hed-list">
            <h2>{{UserData.Subcategory}}</h2>
           
          </div>
        </div>
      </ion-col>
   
    </ion-row>
  </ion-grid>

  <div *ngIf="validation =='NotFound'" class="no-result-fond" >
    <div class="profile-btn" >
      <ion-card-content>
        <div class="found"> No Data Found ....</div>


      </ion-card-content>
      <!--  <button class="pro-btn pro "  ion-button color="light" (click)="openFindDetailPage(UserData.StudentId)">Request</button>  -->


    </div>
  </div>
  </div>

</ion-content>
