<!--
  Generated template for the PrivacyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div [innerHTML]='message'></div>
    </ion-content>
