page-no-internet {
    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }
    .scroll-content{
        background: #e5e9ec;
    }
}
