<!--
  Generated template for the NoInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="vertical-align-content">
  <ion-row center>
      <ion-col>
          <img src="assets/noInternet.png" (click)="retry()">
      </ion-col>
  </ion-row>
</ion-content>
